.footer {
    position: sticky !important;
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
  }
#navbarTogglerDemo01 .navbar-nav li.active {
  background-color: blue;
}
.log-out {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.log-out:hover {
  color: aliceblue;
  cursor: pointer;
}